# Dependencies
node_modules/
package-lock.json

# Git files
.gitignore

# Build outputs
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# IDE
.vscode/
.idea/
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/

# OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Testing
/coverage
/.nyc_output

# Temporary files
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
